html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(214, 10%, 14%);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/pictures/sfondo2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  z-index: 1;
}

.navbar-brand {
  font-size: 3.2em;
}

.nav-link {
  font-size: 1.2em;
  margin-right: 40px;
}

.fa-bars {
  font-size: 1.5em;
}

a, footer, .navbar-toggler {
  color: hsl(218, 4%, 59%);
}

.navbar-dark .nav-item.active .nav-link,
.navbar-brand, h2,
.social :hover,
.fa-bars:hover,
.navbar-dark .nav-item:hover .nav-link {
  color: white;
}

.content {
  display: block;
  position: fixed;
  padding: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h2 {
  font-size: 3em;
  font-family: 'Halant', serif;
}

footer {
  width: 100%;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

.heart {
  color:hsl(5, 88%, 57%);
}

.social {
  font-size: 2em;
  letter-spacing: 8px;
}

.social :hover,
.fa-bars:hover,
.navbar-dark .nav-item:hover .nav-link {
  transition: color .3s;
}

h6, .social {
  text-align: center;
}

h6 {
  letter-spacing: 3px;
}

@media(max-width: 992px) {
  .navbar {
      background-color: hsl(214, 10%, 14%);
  }
}