html {
  font-size: 16px;
}

body {
  background-color:white;
  font-family: 'Halant', serif;
}

.navbar {
  z-index: 1;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand {
  font-size: 3.2em;
}

.nav-link {
  font-size: 1.2em;
  margin-right: 40px;
}

.fa-bars {
  font-size: 1.5em;
}

a, footer, .navbar-toggler, h1, .arrow, h2, nav {
  color: hsl(218, 4%, 40%);
  text-decoration: none;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-brand,
.social :hover,
.fa-bars:hover,
.navbar-dark .nav-item:hover .nav-link,
.arrow :hover {
  color: black;
}

.social :hover,
.fa-bars:hover,
.navbar-dark .nav-item:hover .nav-link,
.arrow :hover {
  transition: color .3s;
}

footer {
  margin-top: 20px;
  width: 100%;
  align-items: center;
  left: 0;
  bottom: 0;
}

.heart {
  color:hsl(5, 88%, 57%);
}

.social {
  font-size: 2em;
  letter-spacing: 8px;
}

h6, .social {
  text-align: center;
}

h6 {
  letter-spacing: 3px;
}

.arrow {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
}

main {
  margin: auto;
  width: 90%;
}

h1 {
  text-align: center;
  font-size: 4em;
  letter-spacing: 3px;
}

img {
  max-width: 100%;
}

.data {
  display: flex;
  justify-content: space-around;
}

.visited {
  text-align: center;
  border-bottom: hsl(218, 4%, 40%) 2px dashed;
  margin: 20px auto;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.country, .travel {
  max-width: 25%;
  padding: 20px;
}

.countrypic {
  border-radius: 3%;
}

.banner {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../travel/banner/spain.jpg'); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.country_name {
  color: white;
  font-size: 5em;
  letter-spacing: 5px;
}

.travels {
  margin: 20px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.travel {
  max-width: 40%;
}

p {
  padding: 20px;
  text-align: justify;
}

.intro:first-letter {
  float: left;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  margin-right: 11px;
}

.collapsible {
  background-color: hsl(218, 4%, 40%);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5%;
  padding: 8px;
  text-align: center;
  outline: none;
  font-size: 1.2em;
  margin: 5px auto;
  display: block;
}

.collapsible.active, .collapsible:hover {
  background-color: black;
  transition: background-color .3s;
}

.content {
  display: none;
  overflow: hidden;
  margin: 20px auto;
  width: 80%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.gallery div {
  height: 11vh;
  max-height: 100%;
  max-width: 18%;
  overflow: hidden;
}

.big {
  max-width: 55%;
}

.left {
  margin-right: 10px;
  float: left;
}

.small {
  max-width: 35%;
}

.right {
  margin-left: 10px;
  float: right;
}

.break {
  height: 0;
  border-bottom: hsl(218, 4%, 40%) 2px dashed;
  margin-top: 20px;
}

@media(max-width: 992px) {
  .navbar {
      background-color: white;
  }

  .country, .travel {
    max-width: 40%;
  }

  .data {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .destinations {
    font-size: 2.7em;
  }
}

@media(max-width: 768px) {
  .country, .travel {
    max-width: 100%;
  }

  .travels {
    flex-wrap: wrap;
  }

  .gallery div {
    height: 11vh;
    max-height: 100%;
    max-width: 45%;
    overflow: hidden;
  }

  .big, .small, .left, .right {
    max-width: 100%;
  }
  
}

@media(min-width:768px) {
  .country:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }
}